*~
*.lock
*.DS_Store
*.swp
*.out

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.idea/workspace.xml
.idea/bashsupport_project.xml

*.iml
*.ipr
*.iws

target
.idea
.settings
.classpath
.project
.ensime*
*.sublime-*
.cache
.projectile
.lib
atlassian-ide-plugin.xml

